!!! 5
html
  head
    title Rdio and Backbone test app
    link(rel='stylesheet', href='/css/base.css')
    link(href='/images/favicon.ico', rel='shortcut icon', type='image/x-icon')
    
    script
      var playbackToken = "#{ playbackToken }";

    - if(loggedIn)
      script
        var currentUser = JSON.parse('!{ currentUser }');
    script(src='/browserify.js')
    script(src='/js/handlebars.js')
    script(src='/js/jquery.js')
    script(src='/js/swfobject.js')
    script(src='/js/underscore.js')
    script(src='/js/backbone.js')
    script(src='/js/backbone_memory_store.js')
    script(src='/js/application.js')

  body
    header
      .container_12
        #user
          - if(loggedIn)
            #info
          - else
            a(class='auth button', href='/oauth/login') Rdio Connect
        
        h1.grid_12
          a(href='#')
            img(src='/images/logo.png')

    .container_12
      #content.grid_12
        #player
        form#search_form(action='#/search')
          label Search
          input(type='text', placeholder='Enter a song or artist')
        
        #body
          != body

    #player_container

