<div id='player_ui'>
  <ul class='controls'>
    <li>
      <a class='play'>
        <span>4</span>
      </a>
    </li>
  </ul>
  <div class='playing_status'>
    {{# track }}
      <div class='currently_playing'>
        <h1>{{ get "albumArtist" }}</h1>
        <h2>{{ get "name" }}</h2>
      </div>
    {{/ track }}
    <div class='status'>
      <span class='time'>0:00</span>
      <div class='bar'>
        <div class='meter'></div>
      </div>
      <span class='total'>{{ formattedDuration }}</span>
    </div>
  </div>
</div>
